In [1]:
pwd

'C:\\Users\\admin\\Python_Prac'

In [4]:
import os
os.chdir('C:\\Users\\admin\\EDA_Datasets')
os.getcwd()

'C:\\Users\\admin\\EDA_Datasets'

In [8]:
import pandas as pd
mydata=pd.read_csv('students.csv')
mydata

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 4: invalid start byte

In [7]:
import pandas as pd
mydata=pd.read_excel('students.xls')
mydata

,ID,LastÂ Name,First Name,City,State,Gender,Student Status,Major,Country,Age,SAT,Average score (grade),Height (in),Newspaper readership (times/wk)
0,29,DOE14,JOE14,Buenos Aires,Argentina,0,1,2,Argentina,30,2279,85.000000,72,3
1,13,DOE07,JOE07,Varna,Bulgaria,0,1,2,Bulgaria,30,1637,79.337239,63,4
2,9,DOE04,JANE04,Montreal,Canada,1,0,1,Canada,18,1813,91.000000,62,6
3,24,DOE14,JANE14,Beijing,China,1,0,1,China,18,1643,79.000000,65,6
4,17,DOE09,JANE09,Amsterdam,Holland,1,0,1,Holland,19,1494,75.000000,60,3
5,6,DOE04,JOE04,Tel Aviv,Israel,0,1,0,Israel,25,1786,69.000000,67,5
6,18,DOE10,JANE10,Mexico,Mexico,1,1,2,Mexico,31,2248,95.423560,59,4
7,14,DOE08,JOE08,Moscow,Russia,0,1,2,Russia,30,1512,70.279498,75,6
8,25,DOE11,JOE11,Stockholm,Sweden,0,0,2,Sweden,19,1919,88.000000,64,4
9,1,DOE01,JANE01,Los Angeles,California,1,1,2,US,30,2263,67.000000,61,5
10,2,DOE02,JANE02,Sedona,Arizona,1,0,1,US,19,2006,63.000000,64,7
11,3,DOE01,JOE01,Elmira,New York,0,1,1,US,26,2221,78.113285,73,6
12,4,DOE02,JOE02,Lackawana,New York,0,1,0,US,33,1716,77.808587,68,3
13,5,DOE03,JOE03,Defiance,Ohio,0,1,0,US,37,1701,65.000000,71,6
14,7,DOE05,JOE05,Cimax,North Carolina,0,1,2,US,39,1577,95.882515,70,5
15,8,DOE03,JANE03,Liberal,Kansas,1,0,2,US,21,1842,87.000000,62,5
16,10,DOE05,JANE05,New York,New York,1,1,1,US,33,2041,71.000000,66,5
17,11,DOE06,JOE06,Hot Coffe,Mississippi,0,0,0,US,18,1787,81.525285,67,3
18,12,DOE06,JANE06,Java,Virginia,1,1,1,US,38,1513,78.936614,59,5
19,15,DOE07,JANE07,Drunkard Creek,New York,1,0,1,US,21,1338,82.385960,64,5
20,16,DOE08,JANE08,Mexican Hat,Utah,1,0,0,US,18,1821,80.000000,63,3
21,20,DOE09,JOE09,San Juan,Puerto Rico,0,1,2,US,33,1923,95.000000,63,7
22,21,DOE12,JANE12,Remote,Oregon,1,0,0,US,19,1727,67.000000,62,7
23,22,DOE10,JOE10,New York,New York,0,0,0,US,21,1872,82.000000,73,4
24,23,DOE13,JANE13,The X,Massachusetts,1,1,2,US,25,1767,89.000000,68,6
25,26,DOE12,JOE12,Embarrass,Minnesota,0,1,0,US,28,1434,95.835542,71,4
26,27,DOE13,JOE13,Intercourse,Pennsylvania,0,0,1,US,20,2119,88.000000,71,5
27,28,DOE15,JANE15,Loco,Oklahoma,1,0,0,US,20,2309,64.000000,68,6
28,30,DOE15,JOE15,Acme,Louisiana,0,0,0,US,19,1907,79.499360,74,3
29,19,DOE11,JANE11,Caracas,Venezuela,1,0,1,Venezuela,18,2252,92.000000,68,5